.navbar-inverse{
  background-color: #3c8dbc !important;
  border-color: #3c8dbc;
}
.navbar-inverse .navbar-brand{
  color: #fff;
}
.top-nav>li>a {
  color: #fff;
}
.pagination-siswa{
  margin-top: -18px;
}
.page-wrapper{
  min-height: 700px;
}
.detail-guru{
  min-width: 500px;
  float: left;
}
.modal-body {
  position: none;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  margin-top: 281px;
}
.profile-guru img{
  width: 204px;
  height: 200px;
  border-radius: 50%;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
  margin-top: 51px;
}
.tanggal-lahir{
  margin-top: 15px;
}
.thumbnail{
  min-height: 132px;
}
.thumbnail h2{
  padding: 24px 50px;
  text-align: center;
}
.thumbnail:hover{
  background-color: #dadee5;
  border-color: #d0d4db;
  text-decoration: none;
}
.action-mapel{
  width: 150px;
}
@media (max-width: 480px) {
  .action-mapel{
    width: 100px;
  }
}
@media (max-width: 480px) {
  .modal-footer{
    margin-top: 23px;
  }
  .datepicker-dropdown{
    margin-top: 102px;
  }
}
@media (max-width: 872px) {
  .modal-footer{
    margin-top: 23px;
  }
}
.dropdown-toggle img{
  width: 36px;
  padding: 0px 0px;
  position: absolute;
  margin-left: -36px;
  margin-top: -7px;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
  color: #fff;
  background-color: #3c8dbc;
}
.cari-box{
  margin-left: -8px;
}
@media (max-width: 480px) {
  .cari-box{
    margin-left: -20px;
  }
}
.side-nav{
  background-color: #222d32;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #3c8dbc;
  background-color: #3c8dbc;
}
.badge{
  background-color: #c72f0d;
}
.buton-presensi{
  border-radius: 0px;
}
.pil-categori{
  margin-left: -38px;
}
.pil-categori li{
  display: inherit;
}
.pil-categori li span{
  font-weight: bold;
  font-size: 15px;
}
.tanggal-presen{
  margin-left: 5px;
}
#wrapper{
  background-color: #222d32;
}
#date{
  color: #000;
  text-indent: 8px;
  border: 1px solid #dee4ed;
  background-color: #fff;
  border-radius: 2px;
  height: 30px;
}

@media (max-width: 480px) {
  .calendar{
    display: none;
  }
}
@media (max-width: 480px) {
  #datepicker{
    width: 139px;
    height: 30px;
    margin-left: 17px;
  }
}
@media (min-width: 768px){
.modal-dialog {
    width: 823px;
    margin: 30px auto;
  }
}
@media (min-width: 768px){
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 844px;
  }
}
/* nav-tabs */
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
/* nav-tabs */
